<form>
        <div style="color:orangered">
    <p><b>PHYSICIAN INFORMATION</b></p><br></div>

    <div class="form-group">
        <label for="Firstname">FIRST NAME</label>&nbsp;
         <input required 
         [(ngModel)]="physObj.firstName"
         name="firstName" 
         type="text" 
         placeholder="Enter First Name"
         class="form-control">  
         &nbsp;&nbsp;
         <div style="color: red">
                {{errormsgForFirstname}}</div> <br>
  
        <label for="Lastname">LAST NAME</label>&nbsp;
        <input required 
        [(ngModel)]="physObj.lastName"
        name="lastName"
        type="text" 
        placeholder="Enter Last Name" 
        class="form-control">
      
        <div style="color: red">
            {{errormsgForLastname}}</div>
             </div><br>


    <div class="form-group">
        <label for="Speciality">SPECIALITY</label>&nbsp;
        <input required 
        [(ngModel)]="physObj.speciality" 
        name="speciality"
        type="text" 
        placeholder="Enter speciality" 
        class="form-control" >
        <div style="color: red">
            {{errormsgForSpeciality}}</div>

    </div><br>
    <div class="form-group">
        <label for="Clinic">CLINIC</label>&nbsp;
        <input required 
        [(ngModel)]="physObj.clinic" 
        name="clinic"
        type="text" 
        placeholder="Enter clinic" 
        class="form-control" >
        <div style="color: red">
            {{errormsgForClinic}}</div>

    </div><br>
        
    
    <div class="form-group">
        <label for="Phone">PHONE NUMBER</label>&nbsp;
        <input required
        [(ngModel)]="physObj.phone"
        name="phone"  
        maxlength="10" type="text" placeholder="Enter phone"
        class="form-control" >
        &nbsp;&nbsp;
        <div style="color: red">
            {{errormsgForPhone}}{{errormsgForPhone1}}</div><br>
             
        <label for="Email">EMAIL</label>&nbsp;
        <input required 
        [(ngModel)]="physObj.email"
        name="email"
        type="text" 
        placeholder="Enter Email"
        class="form-control" >
        <div style="color: red">
            {{errormsgForEmail}}</div>
         
    </div><br>

    <div>
        <input type="button" (click)="addPhysician()" value="ADD">&nbsp;&nbsp;

        <button class="clr-btn" onclick="this.form.reset();">CLEAR</button>&nbsp;&nbsp;

        </div><br><br><br>

        <table>
            <thead>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>SPECIALITY</th>
            <th>CLINIC</th>
            <th>PHONE NUMBER</th>
            <th>EMAIL</th>
            </thead>
    
            <tbody>
            <tr *ngFor="let physicians of physicianList">
            <td>{{physicians.firstName}}</td>
            <td>{{physicians.lastName}}</td>
            <td>{{physicians.speciality}}</td>
            <td>{{physicians.clinic}}</td>
            <td>{{physicians.phone}}</td>
            <td>{{physicians.email}}</td>
            </tr>
            </tbody>
    
        </table><br><br>
     
    
</form>    



